.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.productCard {
    display: grid;
    grid-template-columns: repeat(20, .5fr);
    gap: 2rem;
    margin: 30px;
    width: 94.10vw;
    position: relative;
    overflow-x: initial;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


.productCard::-webkit-scrollbar {
    height: 10px;
    background-color: white;
    border-radius: 10px;
}

  .productCard::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.productCard::-webkit-scrollbar-thumb:hover {
    background-color: #3d3c3c;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.produtos {
    cursor: pointer;
    border: 3px solid #313131;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 360px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12px;
    
}

.imagemproduto {
    margin: auto;
    
}


.price {
    margin: 10px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.starProduct {
    color: rgb(233, 233, 22);
    padding: 0px 5px 0px 0px;
    
}