.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.logo {
    position: relative;
    margin-right: auto;
    margin-left: 35px;
}

.linkss {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.link {
    padding: 0px 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.link:hover {
    border: 4px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.carrinho {
    margin-right: 40px;
}

.carrinholink{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.carrinholink:hover {
    border: 4px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}